[submodule "Core/vendor/spdlog"]
	path = Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Core/vendor/yaml-cpp"]
	path = Core/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
